---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Imprint" }}>
  <h3>Anbieter gemäß §5 TMG</h3>
  <p>Jan Arends </br>
  Nordstr. 69-71</br>
  53111 Bonn, Germany </br>
  Tel: +49 17698570138</br>
  kontakt@jaads.de</p>
</StarlightPage>
